{
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaVersion": 2020,
        "sourceType": "module",
        "allowImportExportEverywhere": true,
        "project": "./tsconfig.json",
        "tsconfigRootDir": "./"
    },
    "env": {
        "browser": true,
        "node": true,
        "jest": true
    },
    "plugins": [
        "react",
        "jsx-a11y",
        "prettier",
        "import",
        "@typescript-eslint",
        "@emotion",
        "testing-library"
    ],
    "extends": [
        "plugin:react/recommended",
        "airbnb",
        "plugin:@typescript-eslint/recommended",
        "plugin:jsx-a11y/recommended",
        "plugin:import/errors",
        "plugin:import/warnings",
        "plugin:import/typescript",
        "plugin:react-hooks/recommended",
        "prettier",
        "prettier/@typescript-eslint",
        "plugin:testing-library/recommended",
        "plugin:testing-library/react"
    ],
    "settings": {
        "import/resolver": {
            "typescript": {}
        }
    },
    "rules": {
        "strict": 0,
        "no-console": "warn",
        "no-plusplus": [
            "warn",
            {
                "allowForLoopAfterthoughts": true
            }
        ],
        "no-unused-expressions": "off",
        "no-undef": "error",
        "lines-between-class-members": ["warn", "always", { "exceptAfterSingleLine": true }],
        "prefer-destructuring": [
            "error",
            {
                "AssignmentExpression": {
                    "array": false
                }
            }
        ],
        "prefer-const": ["warn"],
        "import/order": [
            "warn",
            { 
                "newlines-between": "always",
                "groups": [
                    "builtin",
                    "external",
                    "internal",
                    "parent",
                    "sibling",
                    "index"
                ],
                "pathGroups": [
                    {
                        "pattern": "HomeComponents/**",
                        "group": "internal",
                        "position": "after"
                    },
                    {
                        "pattern": "CountryComponents/**",
                        "group": "internal",
                        "position": "after"
                    },
                    {
                        "pattern": "test-utils",
                        "group": "external"
                    }
                ]
            }
        ],
        "import/extensions": [
            "error",
            "ignorePackages",
            {
                "js": "never",
                "ts": "never",
                "tsx": "never"
            }
        ],
        "import/prefer-default-export": "off",
        "prettier/prettier": "warn",
        "react/prop-types": "off",
        "react/jsx-filename-extension": "off",
        "react/jsx-indent": [2, 4],
        "react/jsx-indent-props": [2, 4],
        "react/jsx-props-no-spreading": "off",
        "react/jsx-one-expression-per-line": "off",
        "react/no-danger": "warn",
        "react/require-default-props": "off",
        "react/no-unused-prop-types": "off",
        "jsx-a11y/anchor-is-valid": [
            "error",
            {
                "components": ["Link"],
                "specialLink": ["href"],
                "aspects": ["invalidHref", "preferButton"]
            }
        ],
        "no-use-before-define": "off",
        "@typescript-eslint/no-use-before-define": ["error"],
        "@typescript-eslint/explicit-module-boundary-types": "off",
        "@typescript-eslint/consistent-type-imports": ["warn"]
    }
}
